@import "tailwindcss";

@theme {
  --color-lightblue: #00A0CC;
  --color-darkblue: #0A42A5;
  --color-blue-02: #00004D;
  --bg-gradient: to right, #0a0f4b 0%, #003d80 50%, #00a2c6 100%;
  --breakpoint-client: 90rem;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-blue-02);
  background: var(--background);
  font-family: var(--font-montserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
